<div class="fixed bottom-0 left-0 right-0 z-50 bg-[#121212] border-t border-gray-700 px-6 py-2">

  <!-- MAIN ROW -->
  <div class="flex items-center justify-between">

    <!-- LEFT: Song Info -->
    <div class="w-1/4">
      @if (currentSong) {
      <p class="font-semibold">{{ currentSong.title }}</p>
      <p class="text-sm text-gray-400">{{ currentSong.artistName }}</p>
      } @else {
      <p class="font-semibold">No Song Playing</p>
      <p class="text-sm text-gray-400">Select a song</p>
      }
    </div>

    <!-- CENTER -->
    <div class="flex flex-col items-center w-2/4">

      <div class="flex items-center gap-4 mb-1">
        <button (click)="previous()">⏮</button>

        <button (click)="toggle()" class="bg-white text-black rounded-full w-10 h-10 flex items-center justify-center">
          @if (isPlaying) { ❚❚ } @else { ▶ }
        </button>

        <button (click)="next()">⏭</button>
      </div>

      <div class="flex items-center gap-2 w-full">

        <span class="text-xs text-gray-400 w-10 text-right">
          {{ formatTime(currentTime) }}
        </span>

        <!-- 🔥 CUSTOM BAR -->
        <div class="flex-1 h-1 bg-gray-600 rounded cursor-pointer relative" (click)="onBarClick($event)">

          <div class="h-1 bg-green-500 rounded" [style.width.%]="progress">
          </div>

        </div>

        <span class="text-xs text-gray-400 w-10">
          {{ formatTime(duration) }}
        </span>

      </div>

    </div>

    <!-- RIGHT -->
    <div class="flex items-center gap-3 justify-end w-1/4">

      <button (click)="toggleMute()">
        @if (volume === 0) { 🔇 } @else { 🔊 }
      </button>

      <input type="range" min="0" max="1" step="0.01" [value]="volume" (input)="changeVolume($event)"
        class="w-24 accent-green-500" />

    </div>

  </div>

</div>